{block content}
<p>
<h1>Create Post</h1>
</p>

<form n:name=createPost class="form d-flex flex-column pt-5">
    <p><label n:name=title class="d-inline">Title: <input n:name=title class="form-control"></label>
    <p><label n:name=subtitle class="d-inline">Subtitle: <input n:name=subtitle class="form-control"></label>
    <p><label n:name=content class="d-inline">Content: <textarea n:name=content class="form-control"></textarea></label>
    <p><input n:name=send class="btn btn-primary">
</form>