{block content}

<div class="d-flex flex-column">
    <div class="d-flex justify-content-between align-items-baseline">
        <h1 class="title col-10">{$post->title}</h1>
        <h6 class="subtitle text-muted">{$post->created_at|date:'F j, Y'}</h6>
    </div>
    <p class="subtitle text-muted mb-5">{$post->subtitle}</p>
    <p class="text">{$post->content}</p>
</div>